.*.sw[a-z]
*.sublime-*
packer/bin
terraform/bin
*.rpm
packages/*
secrets
id_rsa*
*-creds.csv
.chef
*/.env/*-env.sh
*.tgz
*.lock
logfiles/*
logfiles
*.lock.info
.terraform
*.tfstate
*.tfstate.*
*/.python
*.tfplan
*.backup
storage.key
*.zip
